@{
    ViewData["Title"] = "Pesquisa";
}
<section id="main" class="main">
    <!--<h2>Principal Resultado</h2>
        <div class="content">
            <a href="#"><div id="imageMain" class="image">Lulu Santos</div></a>
            <p class="titleMain"><a href="#">Tempos Modernos</a></p>
            <p class="subtitleMain"><a href="#">Lulu Santos</a> • <a id="albumMain" href="#">Toca Lulu</a></p>
        </div>-->
</section>
<!--<tracks id="nomain" class="nomain">
        <div class="content">
            <a href="#"><div id="imagenoMain" class="image">Lulu Santos1</div></a>
            <p class="titlenoMain"><a href="#">Tempos Modernos</a></p>
            <p class="subtitlenoMain"><a href="#">Lulu Santos</a> • <a id="albumnoMain" href="#">Toca Lulu</a></p>
        </div>
    </tracks>
    <tracks id="nomain" class="nomain">
        <div class="content">
            <a href="#"><div id="imagenoMain" class="image">Lulu Santos</div></a>
            <p class="titlenoMain"><a href="#">Tempos Modernos</a></p>
            <p class="subtitlenoMain"><a href="#">Lulu Santos</a> • <a id="albumnoMain" href="#">Toca Lulu</a></p>
        </div>
    </tracks>
    <tracks id="nomain" class="nomain">
        <div class="content">
            <a href="#"><div id="imagenoMain" class="image">Lulu Santos</div></a>
            <p class="titlenoMain"><a href="#">Tempos Modernos</a></p>
            <p class="subtitlenoMain"><a href="#">Lulu Santos</a> • <a id="albumnoMain" href="#">Toca Lulu</a></p>
        </div>
    </tracks>-->
<!--<tracks class="tracks">
        <p><button class="fa fa-play"></button><span class="name"><a href="#">Otherside</a></span><span class="artist"><a href="#">Red Hot Chilli Peppers</a></span></p>
        <p><button class="fa fa-play"></button><span class="name"><a href="#">Scar Tissue</a></span><span class="artist"><a href="#">Red Hot Chilli Peppers</a></span></p>
        <p><button class="fa fa-play"></button><span class="name"><a href="#">Californication</a></span><span class="artist"><a href="#">Red Hot Chilli Peppers</a></span></p>
        <p><button class="fa fa-play"></button><span class="name"><a href="#">Californication</a></span><span class="artist"><a href="#">Red Hot Chilli Peppers</a></span></p>
        <p><button class="fa fa-play"></button><span class="name"><a href="#">Californication</a></span><span class="artist"><a href="#">Red Hot Chilli Peppers</a></span></p>
        <p><button class="fa fa-play"></button><span class="name"><a href="#">Californication</a></span><span class="artist"><a href="#">Red Hot Chilli Peppers</a></span></p>
        <p><button class="fa fa-play"></button><span class="name"><a href="#">Californication</a></span><span class="artist"><a href="#">Red Hot Chilli Peppers</a></span></p>
        <p><button class="fa fa-play"></button><span class="name"><a href="#">Californication</a></span><span class="artist"><a href="#">Red Hot Chilli Peppers</a></span></p>
    </tracks>-->
