@{
    ViewData["Title"] = "Página Inicial";
    Layout = "_LayoutStatic";
}

<div class="banner">

    <div class="title">
        <h2>Experimente!</h2>
        <h3>Site de música totalmente gratuita.</h3>
    </div>
    <div class="buttons">
        <button onclick="location.href='/Play'" class="btn-webplayer">Web Player</button>
    </div>
</div>
<section class="why">
    <h2>Por que usar Squash?</h2>
    <div class="answer">
        <h3>É totalmente gratuito.</h3>
        <p>Squash é uma plataforma de indexação e reprodutor de músicas descentralizadas visando máxima acessibilidade ao usuário sem qualquer cobrança de custo.</p>
    </div>
    <div class="answer">
        <h3>Um mundo de música no seu bolso.</h3>
        <p>Encontre músicas que você ama e também suas preferidas do passado, no meio de tantas faixas.</p>
    </div>
    <div class="answer">
        <h3>Sem Wi-Fi? Sem problema!</h3>
        <p>Com Squash, você pode baixar suas músicas e aproveitá-las.</p>
    </div>
    <div class="answer">
        <h3>Crie a sua própria coleção.</h3>
        <p>Crie playlists a partir de milhões de faixas, e leve todas com você onde quer que vá.</p>
    </div>
</section>
<section class="albums">
    <br />
    <h2>Confira alguns álbuns</h2>
    <br />&nbsp;<br />&nbsp;<br />
    <p>Colocar depois que os metadados estiverem prontos.</p>
    <br />&nbsp;
    <br />&nbsp;
    <br />&nbsp;
</section>