@{
    ViewData["Title"] = "Entrar";
    Layout = "_LayoutStatic";
}
@section logincss
    {
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="~/css/login.css" rel="stylesheet" />
}

<div style="display: block;">
    <div id="first">
        <div class="myform form ">
            <div class="logo mb-3">
                <div class="col-md-12 text-center">
                    <h1 class="titleForm">Login</h1>
                </div>
            </div>
            <form action="" method="post" name="signup">
                <div class="form-group">
                    <label for="login">Login</label>
                    <input type="email" name="login" class="form-control" id="login" aria-describedby="emailHelp" placeholder="Email ou apelido">
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" name="password" id="password" class="form-control" aria-describedby="emailHelp" placeholder="Senha">
                </div>
                <div class="form-group">
                    <p class="text-center"><input type="checkbox" name="keepconnected" id="keepconnected" aria-describedby="emailHelp" /> <label for="keepconnected">Manter-se conectado</label></p>
                </div>
                <div class="col-md-12 text-center ">
                    <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Login</button>
                </div>
                <div class="col-md-12 ">
                    <div class="login-or">
                        <hr class="hr-or">
                        <span class="span-or">ou</span>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <p class="text-center">
                        <a href="javascript:void();" class="google btn mybtn">
                            <i class="fa fa-google-plus">
                            </i> Conecte-se usando Google
                        </a>
                    </p>
                    <p class="text-center">
                        <a href="javascript:void();" class="google btn mybtn">
                            <i class="fa fa-facebook">
                            </i> Conecte-se usando Facebook
                        </a>
                    </p>
                </div>
                <div class="form-group">
                    <p class="text-center">Não tem uma conta? <a href="#" id="signup">Cadastre-se aqui</a></p>
                </div>
            </form>

        </div>
    </div>
</div>
